*, *::after, *::before {
   box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

pre, ul {
	margin: 0;
}

ol {
	list-style-type: none;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3, h4, h5, h6 {
	font-size: 1em;
}

html {
	box-sizing: border-box;
	font-family: Verdana, sans-serif;
	line-height: 1.5;
}

body {
	padding: 1.5em 2ch;
}

a:active, header a:active {
	outline: #f4ba00 solid;
}

header, main {
	margin: 0 auto;
	max-width: 90ch;
	padding: 1.5em 4ch;
}

header {
	border-radius: .25em .25em 0 0;
}

main {
	border-radius: 0 0 .25em .25em;
}

#contents {
	margin-top: 1.5em;
}

main > section {
	margin-bottom: 4.5em;
}

#about-this-report > section {
	margin-bottom: 3em;
}

h2 {
	margin-bottom: .75em;
}

h3 {
	margin-bottom: 1.5em;
}

h4 {
	margin-bottom: 1.5em;
}

p {
	margin: 1.5em 0;
}

p:first-of-type {
	margin-top: 0;
}

p:last-of-type {
	margin-bottom: 0;
}

#contents li, #alerts li, #alert-types > ol > li {
	margin-top: 1.5em;
}

#alert-types h4 {
	margin-bottom: 0;
}

a {
	border-radius: .125em;
}

caption {
	text-align: left;
}

code {
	overflow-wrap: anywhere;
	white-space: break-spaces;
}

table {
	border-collapse: collapse;
}

#report-description--container, #report-parameters--container {
	margin-left: 2ch;
	padding: 0 2ch;
}

#about-this-report h3, #summaries h3, #appendix h3 {
	border-bottom: .05em solid;
}

#alerts h4 {
	text-align: center;
}

#alerts ol {
	padding-left: 0;
}

.alerts--site-li {
	border: .05em solid;
	border-radius: .25em;
	margin-left: 2ch;
	padding: 1.5em 3ch;
}

#contents ol {
	list-style-position: inside;
	list-style-type: square;
	padding-left: 4ch;
}

#risk-confidence-counts-table > caption {
	margin-bottom: 1.5em;
}

#risk-confidence-counts-table th[scope="row"] {
	height: 3em;
}

#risk-confidence-counts-table th[scope="rowgroup"] {
	padding: 0 .5ch;
	vertical-align: middle;
}

#risk-confidence-counts-table th[scope="rowgroup"], #risk-confidence-counts-table th[scope="row"], #risk-confidence-counts-table td:not([colspan]) {
	border-top: .05em solid;
}

#risk-confidence-counts-table th[scope="row"], #risk-confidence-counts-table td {
	vertical-align: top;
}

#risk-confidence-counts-table th[scope="col"] {
	vertical-align: bottom;
}

#risk-confidence-counts-table th[scope="col"], #risk-confidence-counts-table th[scope="row"] {
	font-family: monospace, monospace;
	font-weight: bold;
}

#risk-confidence-counts-table th[scope="colgroup"], #risk-confidence-counts-table th[scope="rowgroup"] {
	font-weight: normal;
}

#risk-confidence-counts-table td, #risk-confidence-counts-table th[scope="col"], #risk-confidence-counts-table th[scope="row"] {
	text-align: right;
}

.alerts-table, .alert-types-table {
	border-collapse: separate;
	border-spacing: 2ch 1.5em;
	width: 100%;
}

.alerts-table th, .alerts-table td, .alert-types-table th, .alert-types-table td {
	vertical-align: top;
}

.alerts-table td, .alert-types-table td {
	overflow-wrap: anywhere;
}

.alerts-table th, .alert-types-table th {
	padding: 0 1ch;
}

.alerts-table td, .alert-types-table td {
	padding: 0 2ch;
}

.alerts-table summary {
	margin-bottom: 1.5em;
}

.alert-types-table {
	padding-top: 0;
}

.alert-types-table th {
	width: 20%;
}

.alert-types-table ol {
	list-style-position: inside;
	list-style-type: square;
	padding-left: 0;
}

.alert-types-table li:not(:first-of-type) {
	margin-top: 1.5em;
}

#zap-logo {
	height: 1em;
	margin-right: .25ch;
	width: 1em;
}

h1, h2 {
	font-family: Georgia, serif;
}

.risk-level, .confidence-level {
	font-family: monospace, monospace;
}

.context, .site, .request-method-n-url {
	font-family: monospace, monospace;
}
