/*body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000;
	font-size: 13px;
}

h1 {
	text-align: center;
	font-weight: bold;
	font-size: 32px
}

h3 {
	font-size: 16px;
}

table {
	border: none;
	font-size: 13px;
}

td, th {
	padding: 3px 4px;
	word-break: break-word;
}

th {
	font-weight: bold;
	background-color: #666666;
}

td {
	background-color: #e8e8e8;
}

.spacer {
	margin: 10px;
}

.spacer-lg {
	margin: 40px;
}

.indent1 {
	padding: 4px 20px;
}

.indent2 {
	padding: 4px 40px;
}

.risk-3 {
	background-color: red;
	color: #FFF;
}

.risk-2 {
	background-color: orange;
	color: #FFF;
}

.risk-1 {
	background-color: yellow;
	color: #000;
}

.risk-0 {
	background-color: blue;
	color: #FFF;
}

.risk--1 {
	background-color: green;
	color: #FFF;
}

.summary {
	width: 45%;
}

.summary th {
	color: #FFF;
}

.alerts {
	width: 75%;
}

.alerts th {
	color: #FFF;
}

.results {
	width: 100%;
}

.results th {
	text-align: left;
}

.left-header {
	display: inline-block;
}*/

.risk-3 {
	background-color: red !important; 
	color: #FFF !important;
}

.risk-2 {
	background-color: orange !important;
	color: #FFF !important;
}

.risk-1 {
	background-color: yellow !important;
	color: #000 !important;
}

.risk-0 {
	background-color: blue !important;
	color: #FFF !important;
}

.hidden_class{
	display: none;
}

header { position: relative; padding: 1em 0; }

.styled_canvas{
	border:1px solid #dee2e6;
	border-radius: 5px;
}
