<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>
    <policy>Default Policy</policy>
    <statsId>std-default</statsId>
    <readonly>true</readonly>
    <scanner>
        <level>MEDIUM</level>
        <strength>MEDIUM</strength>
    </scanner>
    <plugins>
    </plugins>
</configuration>
