<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>
    <policy>Developer Standard</policy>
    <statsId>std-dev-std</statsId>
    <readonly>true</readonly>
    <locked>true</locked>
    <scanner>
        <level>MEDIUM</level>
        <strength>MEDIUM</strength>
    </scanner>
    <plugins>
        <p6>
            <name>Path Traversal</name>
            <enabled>true</enabled>
        </p6>
        <p7>
            <name>Remote File Inclusion</name>
            <enabled>true</enabled>
        </p7>
        <p20019>
            <name>External Redirect</name>
            <enabled>true</enabled>
        </p20019>
        <p40009>
            <name>Server Side Include</name>
            <enabled>true</enabled>
        </p40009>
        <p40012>
            <name>Cross Site Scripting (Reflected)</name>
            <enabled>true</enabled>
        </p40012>
        <p40018>
            <name>SQL Injection</name>
            <enabled>true</enabled>
        </p40018>
        <p40048>
            <name>Remote Code Execution (React2Shell)</name>
            <enabled>true</enabled>
        </p40048>
        <p50000>
            <name>Script Active Scan Rules</name>
            <enabled>true</enabled>
        </p50000>
        <p90017>
            <name>XSLT Injection</name>
            <enabled>true</enabled>
        </p90017>
        <p90020>
            <name>Remote OS Command Injection</name>
            <enabled>true</enabled>
        </p90020>
        <p90021>
            <name>XPath Injection</name>
            <enabled>true</enabled>
        </p90021>
        <p90023>
            <name>XML External Entity Attack</name>
            <enabled>true</enabled>
        </p90023>
        <p90026>
            <name>SOAP Action Spoofing</name>
            <enabled>true</enabled>
        </p90026>
        <p90029>
            <name>SOAP XML Injection</name>
            <enabled>true</enabled>
        </p90029>
        <p90035>
            <name>Server Side Template Injection</name>
            <enabled>true</enabled>
        </p90035>
        <p90037>
            <name>Remote OS Command Injection (Time Based)</name>
            <enabled>true</enabled>
        </p90037>
    </plugins>
</configuration>
